html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  font-family: 'myriad-pro', sans-serif;
  font-weight: 400;
  border: 0;
}
body > section {
  position: relative;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

/* headings */
h1 {
  font-size: 60px;
}
h1.bodoni {
  font-size: 40px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

p {
  line-height: 150%;
}
.serif {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
  position: relative;
  padding: 5px 0 5px 20px;
}
ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  border: 2px solid #FFF;
}
.hide {
  display: none;
}

/* spacer */
.spacer-5 {
  height: 5px;
}
.spacer-10 {
  height: 10px;
}
.spacer-20 {
  height: 20px;
}
.spacer-40 {
  height: 40px;
}


/* classi usate like there's no tomorrow */
div.center {
  text-align: center;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  
  opacity: 0;
  transition: opacity .80s ease-in-out;
  -moz-transition: opacity .80s ease-in-out;
  -webkit-transition: opacity .80s ease-in-out;
}
div.center.fade {
  opacity: 1;
}
.center ul li {
  opacity: 0;
  transition: opacity .80s ease-in-out;
  -moz-transition: opacity .80s ease-in-out;
  -webkit-transition: opacity .80s ease-in-out;
}
.center ul li.fade {
  opacity: 1;
}

.l-box{
  padding: 40px;
}

.line-bubble {
  width: 12px;
  height: 12px;
  border: 3px solid #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  position: absolute;
}
.vertical-line {
  width: 3px;
  background-color: #FFF;
  left: 50%;
  margin-left: -2px;
  position: absolute;
}
.vertical-line.vertical-line-full {
  top: 0;
  bottom: 0;
}
.vertical-line.vertical-line-half-top {
  top: 0;
  bottom: 50%;
  margin-bottom: 20px;
}
.vertical-line.vertical-line-half-bottom {
  top: 50%;
  bottom: 0;
  margin-top: 20px;
}

.pure-g {
  max-width: 1800px;
  width: 100%;
}

.rtl{
  direction: rtl;
}
.ltr {
  direction: ltr;
}

/* Home Section */
#section_home {
  height: 100%;
  background: url('../img/bg_milan.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section_home div.center div.container img {
  display: block;
  margin: 0 auto 50px auto;
}
#section_home .btn {
  font-size: 60px;
  text-align: center;
  width: 100px;
  margin-left: -50px;
  top: 80%;
  left: 50%;
  position: absolute;
}
#section_home .btn a {
  color: #FFFFFF;
  opacity: 0.5;
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}
#section_home .btn a:hover {
  opacity: 1;
}

/* 1999 Section */
.bg_blue {
  height:100%;
  background: url('../img/bg_blue.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section_1999 .title {
  top: 20%;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  color: #fff;
}
#section_1999 .title img:first-child {
  margin-right: 10px;
  
}
#section_1999 div.center div.container {
  max-width: 1800px;
}
#section_1999 p.timeline_p {
  padding-top: 18px;
  text-align: left;
}

/* 2013 Section */
#section_2013 {
  height: 100%;
  background: url('../img/bg_swiss.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section_2013 p.timeline_p {
  text-align: left;
}
#section_2013 ul {
  text-align: left;
}

/* 2016 Section */
#section_2016 .vertical-line.vertical-line-half-top {
  bottom: 65%;
}
#section_2016 .line-bubble {
  top: 35%;
}
#section_2016 .container {
  max-width: 600px;
}

/* Circle Section */
#section_circle {
  height: 100%;
  background: url('../img/bg_london.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}
#section_circle .l-box {
  padding-top: 5px;
  padding-bottom: 5px;
}
#section_circle ul {
  text-align: left;
}
div.rounded {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  -webkit-border-radius: 120px;
  -moz-border-radius: 120px;
  border-radius: 120px;
  text-align: center;
  background: #FFF;
  
  background: none;
  border: 4px solid #FFF;
  transition: background .40s ease;
  -moz-transition: background .40s ease;
  -webkit-transition: background .40s ease;
}
div.rounded:hover,
div.rounded.hover {
  background: rgba(255,255,255, 0.3);
}
div.rounded.rounded-big {
  width: 150px;
  height: 150px;
}
div.rounded.rounded-big div.number {
  line-height: 150px;
}
div.rounded div.number {
  color: #5a96dd;
  color: #FFF;
  text-align: center; /* Centro orizzontalmente */
  line-height: 120px; /* Centro verticalmente: altezza dell'interlinea pari all'altezza del cerchio */
  font-size: 50px;
  font-weight: bold;
}
#section_circle .p_left {
  text-align: left;
}
#section_circle .title {
  margin: auto;
  text-align: center;
}
#section_circle .title img {
  display: block;
  margin: auto;
}

.text-show {
  opacity: 0;
  transition: opacity .40s ease;
  -moz-transition: opacity .40s ease;
  -webkit-transition: opacity .40s ease;
}
.text-show.show {
  opacity: 1;
}

/* group Section */
#section_group_1 {
  height: 100%;
  background: url('../img/bg_londra.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 15px;
}
#section_group_1 li {
  text-align: left;
  padding: 10px 0;
  margin: 10px 0;
  background-color: rgba(24,43,110, 0.4);
  border: solid 1px #182b6e;
}
#section_group_1 li span {
  display: block;
  padding: 0 20px;
  text-align: center;
}
#section_group_1 li:before {
  display:none;
}

/* Section End */
#section_end div.center div.container img {
  display: block;
  margin: 0 auto;
}

/* Navigation */
#slideNav { 
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -50px;
  z-index: 2;
  text-align: center;
}
#slideNav a {
  color: #5a5a5a;
  display: block;
  font-size: 16px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255,255,255,0.8);
  margin-bottom: 1px;
  opacity: 0.6;
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}
#slideNav a:last-child {
  margin-bottom: 0;
}
#slideNav a:hover {
  color: #000000;
  opacity: 1;
}

@media all and (max-width: 767px) {
  
  body {
    font-size: 14px;
  }
    
  #section_circle,
  #section_group_1 {
    min-height: 100%;
    height: auto !important;
    font-size: 13px;
  }
  #section_circle div.center,
  #section_group_1 div.center {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }
  
  .hide-md {
    display: none;
  }
  .hide {
    display: block;
  }
  
  .line-bubble {
    left: 5%;
  }
  .vertical-line {
    left: 5%;
  }
  #section_1999 div.l-box.text-right {
    text-align: left;
  }
  #section_1999 div.l-box.text-right img {
    margin: 0 auto;
  }
  
  .l-box {
    padding: 10px 40px 10px 40px;
  }
  
  .title img,
  .container img,
  .l-box img {
    transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
  }
   .text-center img {
    margin: 0 auto;
  }
  #section_1999 .title {
    top: 10%;
    margin-left: -90px;
  }
  #section_2013 div.l-box.text-left {
    text-align: center;
  }
   #section_2013 div.l-box.text-left img {
    margin: 0 auto;
  }
  
  #section_2016 div.container img {
    margin: 0 auto;
  }
  #section_2016 p.timeline_p {
    padding: 0 10px;
  }
  
  div.rounded {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
  }
  div.rounded.rounded-big {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
  }
  div.rounded.rounded-big div.number {
    line-height: 80px;
  }
  div.rounded div.number {
    text-align: center; /* Centro orizzontalmente */
    line-height: 70px; /* Centro verticalmente: altezza dell'interlinea pari all'altezza del cerchio */
    font-size: 30px;
  }
  
  .serif, ul li {
    font-size: 15px;
  }
}  
  #section_group_1 li span {
    padding: 5px 20px;
    font-size: 16px;
  }